*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    padding-top: 150px;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
}

h1{
    font-size: 5em;
}

h2{
    font-size: 3em;
}